# Ignore Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local output files
.output/
*.txt
*.log
*.csv