# Ignore Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/

# Ignore build and tool caches
*.egg-info/
.mypy_cache/
.pytest_cache/
output/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local output files
.output/*
*.pkl
*.txt
*.log
*.csv
*.png